*{
  
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  background-image: url(cv\ backgroung.webp);
  width: 100vw;
  overflow-x: hidden;
}
.intro{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 300px;
}

.shortinfo {
  margin-right: 280px;
}

#line{
    
    margin-right: 280px;
    border: solid rgb(119, 144, 227);
    /* background-color: black; */
    /* height: 0px; */
}
nav {
  margin: 20px;
}
td {
  padding-right: 200px;
}
.work {
  margin: 10px;
  padding: 0;
  list-style-type: square;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 0;
  padding: 0px; */
}
.location p {
  margin: 10px;
  padding-right: 50px;
}
